@font-face {
    font-family: 'Outfit';
    src: url('font/Outfit-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    max-width: 1440px;
    min-width: 375px;
    font-family: 'Outfit', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

main {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;
}

img {
    width: 300px;
    border-radius: 10px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    margin: 20px 0;
}
p {
    font-size: 15px;
    font-weight: 300;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
