* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}


/* ----------------- Formatação do Cabeçalho ----------------- */
.cabecalho {
    display: flex;
    flex-direction: column;
    gap: 200px;
    background: url(header.jpg);
    height: 710px;
}

.cabecalho-titulo {
    color: #9AD2CB;
    font-size: 30pt;
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
}

.cabecalho-menu-item {
    color: #9AD2CB;
    font-weight: 500;
    font-size: 14pt;
}

.cabecalho-menu-item:hover {
    color: #D7EBBA;
}

.menuu {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 120px 200px 120px;
}

.introducao-bemvindo {
    color: #EBD494;
    font-size: 38pt;
    padding: 10px;
}

.introducao-texto {
    color: #D7EBBA;
    font-size: 16pt;
    text-align: center;
    padding: 10px;
}

/* --------------------------------------------------------------- */

hr {margin: 150px 350px 0 350px;}

.email {
    padding: 20px 100px;
    margin: 20px 100px;
    font-size: 13pt;
}

#email-link:link {text-decoration: underline; color: #0066cc;}
#email-link:visited {text-decoration: underline; color: #8e44ad;}
#email-link:hover {text-decoration: none; color: #e74c3c;}
#email-link:active {text-decoration: underline; color: #c0392b;}

/* -------------------  Formatação do rodapé  ------------------- */
.rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: #c3c496;
}

.rodape-info {
    display: flex;
    flex-direction: row;
    gap: 300px;
    margin-top: 40px;
}

.rodape-info-pages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 250px;
}

.rodape-info-pages-titulo {
    font-size: 18pt;
}

.rodape-info-pages-menu {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 13pt;
    gap: 10px;
}

.rodape-info-pages-menu-item {
    color: rgb(39, 37, 37);
}

.rodape-info-pages-menu-item:hover {
    color: rgb(84, 83, 83);
}

.rodape-redes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}

.rodape-redes-titulo {
    font-size: 16pt;
    text-align: center;
}

.rodape-redes-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.rodape-redes-menu-item {
    width: 45px;
    height: 45px;
}

.rodape-direitos {
    text-align: center;
}
/* --------------------------------------------------------------- */
