* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    margin: 0 200px 0 200px;
}

/* ----------------- Formatação do Cabeçalho ----------------- */
.cabecalho {
    display: flex;
    flex-direction: column;
    gap: 200px;
    background: url(header.jpg);
    height: 710px;
}

.cabecalho-titulo {
    color: #9AD2CB;
    font-size: 30pt;
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
}

.cabecalho-menu-item {
    color: #9AD2CB;
    font-weight: 500;
    font-size: 14pt;
}

.cabecalho-menu-item:hover {
    color: #D7EBBA;
}

.menuu {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 120px 200px 120px;
}

.introducao-bemvindo {
    color: #EBD494;
    font-size: 38pt;
    padding: 10px;
}

.introducao-texto {
    color: #D7EBBA;
    font-size: 16pt;
    text-align: center;
    padding: 10px;
}

/* --------------------------------------------------------------- */

/* ----------------- Formatação do conteúdo ----------------- */
.conteudo {
    display: flex;
    flex-direction: column;
}

.conteudo-inicial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 120px;
}

.conteudo-inicial-perfil {
    width: 480px;
    height: 480px;
    border-radius: 100px;
    margin-left: 20px;
}

.conteudo-inicial-descricao {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.conteudo-inicial-descricao-titulo {
    font-size: 30pt;
}

.conteudo-inicial-descricao-texto {
    font-size: 18pt;
    text-align: justify;
}

.conteudo-inicial-descricao-botao {
    padding: 15px 0px 15px 0px;
    border-radius: 20px;
    border: 1px solid;
    font-size: 13pt;
}

 #bot {
    padding: 15px 40px;
    border-radius: 20px;
 }

 #bot:link {
    color: black;
    background-color: #D7EBBA;
 }

 #bot:visited {
    color: black;
    background-color: #D7EBBA;
 }

 #bot:hover {
    color: black;
    background-color: #9AD2CB;
 }

 #bot:active {
    color: rgb(67, 66, 66);
    background-color: #9AD2CB;
 }

.conteudo-descricao {
    display: flex;
    flex-direction: column;
    margin: 100px 150px 0 150px;
    gap: 50px;
    text-align: justify;
}

.conteudo-descricao-pessoal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.conteudo-descricao-pessoal-titulo {
    font-size: 30pt;
}

.conteudo-descricao-pessoal-texto {
    font-size: 18pt;
}

.conteudo-descricao-pessoal-imagens {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.conteudo-descricao-pessoal-fotos {
    width: 400px;
    height: 400px;
    border-radius: 0 100px 0 100px;
}

.conteudo-comentario {
    display: flex;
    flex-direction: column;
}

.conteudo-comentario-texto {
    font-size: 24pt;
    font-weight: bolder;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 150px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

/* --------------------------------------------------------------- */

/* -------------------  Formatação do rodapé  ------------------- */
.rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: #c3c496;;
}

.rodape-info {
    display: flex;
    flex-direction: row;
    gap: 300px;
    margin-top: 40px;
}

.rodape-info-pages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 250px;
}

.rodape-info-pages-titulo {
    font-size: 18pt;
}

.rodape-info-pages-menu {
    display: flex;
    flex-direction: column;
    font-size: 13pt;
    gap: 10px;
}

.rodape-info-pages-menu-item {
    color: rgb(39, 37, 37);
}

.rodape-info-pages-menu-item:hover {
    color: rgb(84, 83, 83);
}

.rodape-redes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}

.rodape-redes-titulo {
    font-size: 16pt;
    text-align: center;
}

.rodape-redes-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.rodape-redes-menu-item {
    width: 45px;
    height: 45px;
}

.rodape-direitos {
    text-align: center;
}
