@font-face {
    font-family: 'Fraunces';
    src: url('assets/fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body { 
    background-color: hsl(30, 38%, 92%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    background-color: hsl(0, 0%, 100%);
    width: 323px; 
    height: 610px;
    border-radius: 10px;
}

.container { padding: 25px; }

#desktop-img {
    display: none;
    border-radius: 10px 0 0 10px;
}

#mobile-img {
    width: 323px;
    border-radius: 10px 10px 0 0;
}

#perfume {
    text-transform: uppercase;
    letter-spacing: 5px;
}

h1 {
    font-family: 'Fraunces';
    font-weight: 700;
    margin: 10px 0;
    line-height: 35px;
}

#price {
    display: flex;
    align-items: center;
    margin: 30px 0 20px;
}

#price-span {
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 2.3em;
    margin-right: 20px;
    color: hsl(158, 36%, 37%);
}

#pr-span { text-decoration: line-through; }

p {
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 0.9em;
    border: none;
    border-radius: 8px;
    width: 270px; height: 40px;
    font-weight: 700;
    transition: .3s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button:hover {
    background-color: hsl(158, 42%, 18%);
    transition: .3s ease-in-out;
}

@media (min-width: 1280px) {
    .container { padding: 35px; }

    #mobile-img { display: none; }
    
    body { overflow: hidden; }

    #desktop-img {
        display: block;
        border-radius: 10px 0 0 10px;
        width: 323px; 
        height: 480px;
    }
    
    main {
        display: flex;
        width: 650px; 
        height: 480px;
    }

    h1 {
        font-size: 2.3em;
        margin: 25px 0;
    }

    p {
        font-size: 0.98em;
        line-height: 24px;
    }

    #price { margin: 40px 0 35px; }

    button {
        font-size: 0.97em;
        height: 45px;
    }
}