* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #f4f5d39a;
}

/* ----------------- Formatação do Cabeçalho ----------------- */
.cabecalho {
    display: flex;
    flex-direction: column;
    gap: 200px;
    background: url(header.jpg);
    height: 710px;
}

.cabecalho-titulo {
    color: #9AD2CB;
    font-size: 30pt;
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
}

.cabecalho-menu-item {
    color: #9AD2CB;
    font-weight: 500;
    font-size: 14pt;
}

.cabecalho-menu-item:hover {
    color: #D7EBBA;
}

.menuu {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 120px 200px 120px;
}

.introducao-bemvindo {
    color: #EBD494;
    font-size: 38pt;
    padding: 10px;
}

.introducao-texto {
    color: #D7EBBA;
    font-size: 16pt;
    text-align: center;
    padding: 10px;
}

/* --------------------------------------------------------------- */


/* -------------------- Formatação do Conteúdo ------------------- */
main {
    box-shadow: 1.2px 1.2px 4px #2a2e2d20;
    border-radius: 100px 100px 30px 30px ;
    margin: 50px auto;
    max-width: 1160px;
    min-width: 100px;
    padding-bottom: 20px;
    background-color: #edf6e1;
}

.conteudo {
    margin: 50px 100px;
}

.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    background-color: #204d48;
    padding: 50px;
    border-radius: 80px 80px 0 0 ;
}

.perfil-foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #9AD2CB;
    margin-left: 50px;
}

.descr {
    display: flex;
    flex-direction: column;
}

.descr-nome {
    color: #9AD2CB;
    font-size: 50pt;
    text-align: left;
}

.descr-func {
    color: #f5fcfb;
    font-size: 20pt;
    margin-bottom: 30px;
    text-align: justify;
}

.descr-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descr-cont-item {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.descr-cont-item:hover {
    color: #90aeab;
}

.icon {
    width: 30px;
    height: 30px;
}

.titulos {
    text-transform: uppercase;
    background-color: #204d48;
    color: #0f0e0e;
    border-radius: 0 25px 25px 0;
    padding: 5px;
    width: 350px;
    text-align: justify;
    text-indent: 20px;
    font-size: 16pt;
    font-weight: 550;
    box-shadow: 4px 4px 5px #c0cbcb2d;
}

.subtitulos {
    font-weight: 510;
    font-size: 14pt;
    margin: 20px 50px;
    font-weight: 380;
    text-align: justify;
}

.paragrafo {
    font-size: 12pt;
    margin: 15px 50px;
    font-weight: 350;
    text-align: justify;
}

ul {
    font-size: 12pt;
    margin-left: 100px;
    font-weight: 350;
    margin-bottom: 20px;
    text-align: justify;
}

li { padding: 2px; }

.tesstt {border-left: 3px solid #204d48;}
#last {border-bottom: 3px solid #204d48;}
/*-----------------------------------------------------------------*/

/* -------------------  Formatação do rodapé  ------------------- */
.rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: #c3c496;
}

.rodape-info {
    display: flex;
    flex-direction: row;
    gap: 300px;
    margin-top: 40px;
}

.rodape-info-pages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 250px;
}

.rodape-info-pages-titulo {
    font-size: 18pt;
}

.rodape-info-pages-menu {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 13pt;
    gap: 10px;
}

.rodape-info-pages-menu-item {
    color: rgb(39, 37, 37);
}

.rodape-info-pages-menu-item:hover {
    color: rgb(84, 83, 83);
}

.rodape-redes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}

.rodape-redes-titulo {
    font-size: 16pt;
    text-align: center;
}

.rodape-redes-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.rodape-redes-menu-item {
    width: 45px;
    height: 45px;
}

.rodape-direitos {
    text-align: center;
    font-size: 12pt;
}
/* --------------------------------------------------------------- */