* {
    margin: 0;
    padding: 0;
}

.error {
    color: hsl(0, 100%, 67%);
    font-size: 0.9em;
}

input.invalid {
    border-color: hsl(0, 100%, 67%);
}

@font-face {
    font-family: 'Content';
    src: url('font/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Content-bold';
    src: url('font/Poppins-BoldItalic.ttf');
}
body {
    background-color: hsl(0, 0%, 94%);
    overflow: hidden;
}
#main-content {
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20vh auto;
    padding: 40px;

    border-radius: 10px 10px 150px 10px;
    height: 350px;
    width: 450px;
    font-family: 'Content';
}

form {
    display: flex;
    gap: 20px;
}

label {
    color: hsl(0, 1%, 44%);
    font-weight: 600;
    display: block;
}

input[type="number"] {
    font-size: 26px;
    font-weight: 700;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    padding: 8px 15px;
    width: 80px;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus {
    border-color: hsl(259, 100%, 65%);
}

input[type="number"]:hover {
    cursor: pointer;
}

input[type="number"]::placeholder {
    color: hsl(0, 1%, 44%);
}

input[type="image"] {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    width: 35px;
    padding: 10px;
    position: relative;
    top: 2px;
    left: 400px;
    transition: .3s ease-in-out;
}

input[type="image"]:hover {
    background-color: hsl(0, 0%, 8%);
    transition: .3s ease-in-out;
}

hr {
    width: 398px;
    margin-top: -25px;
    margin-bottom: 25px;
    color: hsla(0, 0%, 94%, 0.325);
}

p {
    font-size: 50px;
    font-family: 'Content-bold';
    text-align: right;
}

span {
    color: hsl(259, 100%, 65%);
}