* { margin: 0; padding: 0;}

.container { padding: 0;}

body { font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.intro { 
    background-color: #013243; 
    text-align: center;
}

div h1 { 
    font-size: 2.1em;
    font-weight: 600;
    color: #ffffff; 
    padding-top: 50px;
}

    div p { 
    color: #80d0ded9; 
    font-size: 1.2em;
}

img { 
    width: 80%; 
    margin-top: -120px; 
    margin-bottom: -3px;
}

form { 
    padding: 50px 80px;
    background-color: #ffffff; 
}

form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form fieldset legend {
    font-size: 2.1em;
    font-weight: 700;
    margin-bottom: 20px;
}

form fieldset label {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: -10px;
}

form fieldset input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.436);
}

form div {
    display: flex;
    align-items: first baseline;
    gap: 10px;
}

form div label {
    font-weight: 500;
}

form div label span {
    text-decoration: underline;
    font-weight: 700;
    color: #013243;
}

#terms {
    width: 5%;
}

button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #013243;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    margin: 15px 0;
}

@media (min-width: 600px) {
    .container { padding: 100px 150px; }
    body { 
        background: url(Assets/Background.png);
        background-position: 40%;
    }
}

@media (min-width: 950px) {
    .container { padding: 350px; }
}

@media (min-width: 1200px) {
    .container { 
        padding: 300px;
        display: flex;
     }

    form {
        width: 100%;
     }

     img { 
        width: 90%; 
    }

    body { 
        background: url(Assets/Background.png);
        background-position: 40%;
    }
}