.conteudo {
    display: flex;
    flex-direction: column;
}

.conteudo-inicial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 120px;
}

.conteudo-inicial-perfil {
    width: 480px;
    height: 480px;
    border-radius: 100px;
    margin-left: 20px;
}

.conteudo-inicial-descricao {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.conteudo-inicial-descricao-titulo {
    font-size: 30pt;
}

.conteudo-inicial-descricao-texto {
    font-size: 18pt;
    text-align: justify;
}

.conteudo-inicial-descricao-botao {
    padding: 15px 0px 15px 0px;
    border-radius: 20px;
    border: 1px solid;
    font-size: 13pt;
}

 #bot {
    padding: 15px 40px;
    border-radius: 20px;
 }

 #bot:link {
    color: black;
    background-color: #D7EBBA;
 }

 #bot:visited {
    color: black;
    background-color: #D7EBBA;
 }

 #bot:hover {
    color: black;
    background-color: #9AD2CB;
 }

 #bot:active {
    color: rgb(67, 66, 66);
    background-color: #9AD2CB;
 }

.conteudo-descricao {
    display: flex;
    flex-direction: column;
    margin: 100px 150px 0 150px;
    gap: 50px;
    text-align: justify;
}

.conteudo-descricao-pessoal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.conteudo-descricao-pessoal-titulo {
    font-size: 30pt;
}

.conteudo-descricao-pessoal-texto {
    font-size: 18pt;
}

.conteudo-descricao-pessoal-imagens {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.conteudo-descricao-pessoal-fotos {
    width: 400px;
    height: 400px;
    border-radius: 0 100px 0 100px;
}

.conteudo-comentario {
    display: flex;
    flex-direction: column;
    background-color: #e2eceb;
    margin-top: 50px;
}

.conteudo-comentario-texto {
    font-size: 24pt;
    font-weight: bolder;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 150px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

@media (max-width: 1200px) {
    .conteudo {
        margin: 20px;
    }
    .conteudo-inicial {
        flex-direction: column;
        gap: 15px;
        margin: 40px;
    }

    .conteudo-inicial-perfil {
        width: 260px;
        height: 260px;
        margin-left: 0px;
    }

    .conteudo-inicial-descricao {
        margin: 0 auto;
    }

    .conteudo-descricao {
        margin: 40px;
        gap: 50px;
    }

    .conteudo-descricao-pessoal-titulo {
        text-align: left;
    }

    .conteudo-descricao-pessoal-imagens {
        flex-direction: column;
        gap: 30px;
    }
    
    .conteudo-descricao-pessoal-fotos {
        width: 350px;
        height: 350px;
    }

    .conteudo-comentario {
        margin: 0 -40px;
        width: 100vw;
    }

    .conteudo-comentario-imagem {
        width: 100vw;
    }
}
/*
@media (min-width: 900px) {
    .comentario { padding: 100px 20px;}

    .design { gap: 100px; }

    .design img { width: 550px; height: 350px; }

    .first, .third {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
    }

    .second {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
    }
}*/