body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 * { margin: 0; padding: 0; }

.container { padding: 40px 30px 0; }

p { color: rgb(113, 111, 111); }

li { 
    display: flex;
    gap: 12px;

    align-items: flex-start;
    color: rgb(113, 111, 111); 
    line-height: 2;
}

button {
    display: flex;
    gap: 10px;

    padding: 15px 120px;
    margin: 20px auto;
    background-color: #1DA1F2;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    color: white;
    font-size: 1.1em;
    font-weight: 500;
 }

/*=====================-------======================*/ 
 header {
    display: flex;
    justify-content: space-between;
    background-color: #FBF8F3;
 }

.header-footer-h1 {
    color: #438CF5;
    font-style: italic;
 }


main .introdution { 
    background-color: #FBF8F3;
    padding-bottom: 45px;
}

main #presentation-t { width: 83%; margin: 0 auto; padding: 0 50px;}

@media (max-width: 750px) {
    main #presentation-t { display: none;}
    header nav{ display: none; }
    main #presentation-dm { width: 83%; margin: 0 auto; padding: 0 50px;}
    
}

main h1 {
    font-size: 2.2em;
    margin: 30px 0 10px;
}

main .introdution p { font-size: 1.25em; }

main .introdution a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
    color: #1079bb;
    font-weight: 700;
    margin: 0 auto;
}

main .introdution .avatares {
    display: flex;
    flex-direction: row;
    margin: 30px 0;
}

main span {
    color: #1079bb;
    font-weight: 700;
}

main section .blocos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main section .bloco {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid rgb(196, 191, 191);
    border-radius: 5px;
    padding: 20px;
}

main section .bloco h3 { font-weight: 750; }
main section .bloco .pp { font-size: 2em; }

main section .bloco p { 
    font-size: 1.25em; 
    line-height: 1.5;
    word-spacing: 3px;
}


main .social-test {
    background-color: #D7F5F5;
    margin-top: 80px;
    padding: 30px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-info h6 { 
    font-weight: 500; 
    font-size: 0.9em;
    color: rgb(113, 111, 111);
}

.status { 
    display: flex; 
    justify-content: space-between;
    margin-top: 25px;
}
.status div { display: flex; gap: 10px;}

main .social-test h1 { margin-bottom: 50px; }

main section .outros-blocos {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

main section .side-blocks {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}

main section .outros-blocos h3 { font-weight: 750; }
main section .outros-blocos .pp { font-size: 2em; }

main section .side-blocks p { 
    font-size: 1.25em; 
    line-height: 1.5;
}

.centraliza-h { text-align: center; }
.centraliza-p { text-align: center; margin-bottom: 40px;}

.last-block {
    background-color: #FBF8F3;
    border-radius: 10px;
    padding: 30px;
    border: 2px solid rgb(250, 183, 116);
}

.last-block h2 {
    color: rgb(113, 111, 111);
    font-weight: 400;
}

ul {
    border-top: 2px solid rgb(218, 217, 217);
    border-bottom: 2px solid rgb(218, 217, 217);
    padding: 10px;
    margin: 25px;
}

h4 { 
    font-size: 3.1em; 
    display: flex; 
    align-items: last baseline;
}

h4 p {
    font-size: 0.5em;
    font-weight: 400;
}

#outro-boton { padding: 15px 80px; margin: 0 auto;}

/*-=-=-==-=-=-=-=------------------------============*/
footer { 
    background-color: #D7F5F5; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
    margin: 100px 0 0;
}



footer nav {
    display: flex;
    gap: 30px;
    font-size: 1.2em;
    padding-bottom: 50px;
}

footer nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}


@media (min-width: 750px) {
    #presentation-dm {display: none;}
    #hamb-menu { display: none;}

    header {
        display: flex;
        align-items: center;
    }

    header nav {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    header nav a {
        text-decoration: none;
        color: rgb(113, 111, 111);
    }

    header nav button { padding: 20px 30px; }

    main button { margin: 10px 0; }

    .last-block { margin: 10px 100px; }

    footer { 
        flex-direction: row;
        justify-content: space-between;
    }
    footer h1 {
        padding-top: 35px;
    }

    footer nav {
        padding-top: 50px;
    }
}

@media (min-width: 1150px) {
    #presentation-t { display: none; }
    
    #presentation-dm {
        display: block;
        width: 500px; height: 730px;
    }

    .container { padding: 20px 100px 0; }

    .introdution {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
    }

    .introdution h1 {
        font-size: 2.8em;
    }
    .introdution p {

        font-size: 1.1em;
    }

    main button { padding: 20px 30px; margin: 30px 0 10px; }

    main section .blocos {
        flex-direction: row;
    }

    main section .outros-blocos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .last-block { margin: 10px 200px; }

    footer h1 {
        padding-top: 35px;
    }

    footer nav {
        padding-top: 50px;
    }
}