body {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; padding: 5px; }

hr {margin: 0 200px;}

h1 { font-size: 40pt; text-align: justify;
    padding: 50px 50px 50px 100px;
    margin: -13px -13px 15px -13px;
    background-color: black; color: white;}

h2 {font-size: 34pt;}
#quem-sou { padding: 20px 100px; margin: 140px 100px 0px 650px; }
.t2 { padding: 20px 100px; margin: 50px 100px 0px 100px; }
#pages { font-size: 22pt; padding: 20px 100px; margin: 20px 100px 5px 100px;}

#p1 { font-size: 16pt; text-align: justify; padding: 20px 100px; margin: 0 100px 0 650px; }
.p2 { font-size: 18pt; text-align: justify; padding: 20px 100px; margin: 0 100px; }
#p3 { font-size: 28pt; font-weight: bold; padding: 50px 100px; margin: 0 100px; }
code {font-family: 'Courier New', Courier, monospace;}

#bot {font-size: 14pt; margin: 5px 320px 170px 850px; 
    padding: 20px 5px; border-radius: 100px;
    background-color: black; color: white;}

a:link {text-decoration: none; color: #eee;}
a:visited {text-decoration: none; color: #eee;}
a:hover {text-decoration: none; color: #ccc;}
a:active {text-decoration: none; color: #999;}
#a-bot {padding: 20px 74px;}

img { width: 400px; height: 450px; }
#photo { width: 480px; height: 480px; border-radius: 30%; float: left; margin: 4% 6% 4% 8%; }
.i2 { margin: 20px 15px 50px 30px; border-radius: 0 30%; }
.i3 { margin: 20px 15px 50px 10px; border-radius: 0 30%; }
.i4 { margin: 20px 0px 50px 10px; border-radius: 0 30%; }
#final { width: 1300px; height: 700px; margin: 50px 100px; }
.ipg { width: 45px; height: 45px; margin: 0 25px; }
