@font-face {
    font-family: 'Content';
    src: url('font/Rubik-VariableFont_wght.ttf');
}

body {
    background-color: #F9F4FA;
    font-family: 'Content', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ini {
    width: 550px;
    height: 600px;

    background: linear-gradient(to bottom left, hsl(293, 100%, 63%) 5%, hsl(264, 100%, 61%) 60%);
    border-radius: 0 0 50% 60%;

    position: fixed;
    top: 0;
    left: 0;

    margin-left: -145px;
}

.fim {
    width: 550px;
    height: 600px;

    background-color: hsl(270, 20%, 96%);
    border-radius: 50% 60% 0 0;

    position: fixed;
    right: 0;
    bottom: 0;

    margin-right: -145px;
}
/*-----------------------------------------------------------------*/
.meio {
    position: fixed;
    right: 9.5%;
    bottom: 10%;

    width: 1050px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}
/*-----------------------------------------------------------------*/
.camera {
    width: 160px;
    height: 20px;
    background-color: white;
    border-radius: 0 0 15px 15px;

    position: fixed;
    top: 15%;
    left: 26.4%;
}

.mobile { 
    background-color: hsl(270, 20%, 96%);
    border: 15px solid rgb(255, 255, 255); 
    border-radius: 40px;
    width: 500px;
    height: 510px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.089);
}

.mobile .perfil {
    background: linear-gradient(to bottom left, hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
    border-radius: 27px 27px 10px 10px ;
    height: 73px;
    margin-top: -12px;
}
.mobile .perfil #botao-voltar {
    width: 8px;
    float: left;
    margin: 40px 0px 10px 20px;
}
.mobile .perfil #perfil-photo {
    width: 35px;
    border-radius: 50%;
    border: 2px solid white;
    float: left;
    margin: 25px 20px;
}

.mobile .perfil #name {
    padding-top: 30px;
    margin-bottom: -10px;

    font-size: 0.75em;
    color: white;
}

.mobile .perfil #status {
    font-size: 0.6em;
    color: hsl(276, 100%, 81%);
}

.mobile .chat { padding: 0 10px; }
.mobile .chat p { font-size: 0.5em; }

.mobile .chat img {
    width: 45px;
    border-radius: 15px;
}

.mobile .chat div {
    margin-left: 78px;
}

.mobile .chat .received {
    background-color: hsl(276, 10%, 90%);
    color: hsl(276, 55%, 52%);
    padding: 10px;
    width: 125px;
    border-radius: 15px 15px 15px 3px;
}

.mobile .chat .sent {
    background-color: white;
    color: hsl(271, 15%, 43%);
    padding: 10px;
    width: 125px;
    border-radius: 15px 15px 3px 15px;

    margin-left: 90px;
}

.mobile .chat #botao-submit {
    width: 9px;
    padding: 10px 13px;
    background-color: hsl(271, 36%, 24%);
    border-radius: 50%;
    float: right;
    margin-top: -35px;
    margin-left: 204px;
    position: fixed;
}

/*-----------------------------------------------------------------*/
.texto h1 {
    color: hsl(271, 36%, 24%);
    font-weight: 800;
    font-size: 2.5em;
}
.texto p {
    color: hsl(270, 7%, 64%);
    font-size: 1.2em;
}

form .raido {
    background: linear-gradient(to bottom left, hsl(264, 100%, 61%)30%, hsl(293, 100%, 63%) 100%);
    color: white;
    font-weight: 100;
    width: 150px;
    padding: 5px;
    font-size: 0.5em;
    margin-top: 5px;
    border-radius: 15px 15px 3px 15px;

}

form span {
    font-size: 2em;
    margin-left: 25px;
    font-weight: 600;
}

#type-message {
    background-color: white;
    padding: 10px 38px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

#type-message::placeholder {
    color: hsl(270, 7%, 64%);
    border: none;
    font-size: 0.8em;
}