* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: auto;
    background-color: #D7EBBA;
    color: black;
}

header {
    background-color: black;
    color: white;
    padding: 50px;
}

#cabecalho { font-size: 2.5em; }
#cabecalho:link { text-decoration: none; color: #D7EBBA; }
#cabecalho:hover { text-decoration: none; color: #d2f7f3; }
#cabecalho:active { text-decoration: none; color: #6f8886; }


main {
    margin: 100px 200px;
    background-color: #ffffff;
    padding: 20px 80px;
    box-shadow: 0px 0px 10px rgba(113, 103, 103, 0.46);
    border-radius: 50px;
}

#titulos { font-size: 2.1em; }
.subtitulos { font-size: 1.6em;}
p { font-size: 1.2em; }
li { padding: 5px;}

a { font-size: 1.2em;}
a:link { text-decoration: none; color: blue;}
a:visited { text-decoration: none; color: blue;}
a:hover { text-decoration: none; color: #ec1414;}
a:active { text-decoration: #106b0a;}

footer {
    background-color: black;
    color: white;
    padding: 50px;
}
#improveit {font-size: 1em;}
#improveit:link { text-decoration: none; color: blue;}
#improveit:visited { text-decoration: none; color: blue;}
#improveit:hover { text-decoration: none; color: #272121;}
#improveit:active { text-decoration: #106b0a;}


@media (max-width: 1200px) {
    main {
        margin: 100px 50px;
    }

    @media (max-width: 500px) {
        main { padding: 20px 60px; }

        main p { text-align: justify; }
    }

}

