* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Content';
    src: url('font/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Content-bold';
    src: url('font/Poppins-BoldItalic.ttf');
}

body {
    background-color: hsl(0, 0%, 94%);
    overflow: hidden;
}

#main-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20vh auto;
    padding: 40px;
    border-radius: 10px 10px 150px 10px;
    height: 350px;
    width: 450px;
    font-family: 'Content';
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.input-container {
    display: flex;
    gap: 20px;
}

label {
    font-size: 0.7em;
    color: hsl(0, 1%, 44%);
    font-weight: 600;
    display: block;
}

input[type="number"] {
    font-size: 26px;
    font-weight: 700;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    padding: 8px 15px;
    width: 80px;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus {
    border-color: hsl(259, 100%, 65%);
}

input[type="number"]:hover {
    cursor: pointer;
}

input[type="number"]::placeholder {
    color: hsl(0, 1%, 44%);
}

.submit-container {
    position: relative;
    width: 100%;
}

hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
    color: hsla(0, 0%, 94%, 0.325);
}

.submit-button {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    width: 45px;
    padding: 10px;
    position: absolute;
    right: -2px;
    bottom: -5px;
    transition: .3s ease-in-out;
}

.submit-button:hover {
    background-color: hsl(0, 0%, 8%);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.result-container {
    margin-top: 20px;
}

p {
    font-size: 50px;
    font-family: 'Content-bold';
    text-align: left;
}

span {
    color: hsl(259, 100%, 65%);
}

@media (max-width: 600px) {
    #main-content {
        width: 75vw;
    }

    .submit-button {
        right: 150px;
        bottom: -5px;
        transition: .3s ease-in-out;
    }
}