@font-face {
    font-family: 'Font';
    src: url('/assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(47, 88%, 63%);
    max-width: 1440px;
    min-width: 375px;
    font-family: 'Font', 'Roboto', sans-serif;
}

p {
    font-size: 16px;
    font-weight: 600;
}

h1 { font-weight: 800; font-size: 1.7em;}
h1:hover { color: hsl(47, 88%, 63%); cursor: pointer;}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding: 20px;
    width: 350px;
    height: 550px;
    margin: 100px auto;
    box-shadow: 10px 10px black;
    border: 2px solid black;
    border-radius: 30px;
}

#prin {
    width: 350px;
    border-radius: 10px;
}

.perfil {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#p1 {
    background-color: hsl(47, 88%, 63%);
    padding: 10px;
    width: 60px;
    border-radius: 5px;
}

#text { color: hsl(0, 0%, 50%); }