* { margin: 0; padding: 0; }

.container { padding: 60px 30px; }

@font-face {
    font-family: 'Content';
    src: url('font/BarlowSemiCondensed-Light.ttf');
}

body {
    font-family: 'Content', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(210, 46%, 95%);

    display: flex;
    flex-direction: column;
    gap: 30px;
}

div { padding: 20px 40px; border-radius: 10px;}

.div-1 {
    grid-area: Daniel;
    background: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: hsl(263, 55%, 52%);
    color: white;
}
.div-1 > h5 { color: rgba(255, 255, 255, 0.5); }
.div-1 > .other-p { color: rgba(255, 255, 255, 0.7); }

.div-2 {
    grid-area: Jonathan;
    background-color: hsl(217, 19%, 35%);
    color: white;
}
.div-2 > h5 { color: rgba(255, 255, 255, 0.5); }
.div-2 > .other-p { color: rgba(255, 255, 255, 0.7); }

.div-3 {
    grid-area: Jeanette;
    background-color: white;  
    color: hsl(217, 19%, 35%);  
}
.div-3 > h5 { color: hsla(217, 19%, 35%, 0.5); }
.div-3 > .other-p { color: hsla(217, 19%, 35%, 0.7); }

.div-4 {
    grid-area: Patrick;
    background-color: hsl(219, 29%, 14%);
    color: white;
}
.div-4 > h5 { color: rgba(255, 255, 255, 0.5); }
.div-4 > .other-p { color: rgba(255, 255, 255, 0.7); }

.div-5 {
    grid-area: Kira;
    background-color: white; 
    color: hsl(217, 19%, 35%); 
}
.div-5 > h5 { color: hsla(217, 19%, 35%, 0.5); }
.div-5 > .other-p { color: hsla(217, 19%, 35%, 0.7); }

img { 
    width: 40px; 
    border: 3px solid white;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.main-p {
    font-weight: 600;
    font-size: 1.3em;
    margin: 20px auto;
}

.other-p { font-weight: 500; }

@media (min-width: 600px) {
    .container { padding: 80px 100px;}
}

@media (min-width: 1000px) {
    .container { padding: 80px 130px;}

    body {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 300px 300px;
        gap: 15px;
        max-height: 100px;

        grid-template-areas: 
        'Daniel Daniel Jonathan Kira'
        'Jeanette Patrick Patrick Kira';
    }
}