* { padding: 0; margin: 0; }

.container { padding: 70px 50px; }

@font-face {
    font-family: 'Content';
    src: url('font/Poppins-Light.ttf');
}

body {
    background-color: hsl(0, 0%, 98%); 
    font-family: 'Content', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.blocks, .central-blocks {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.block {
    border: 1px solid rgb(241, 241, 241);
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 2px 2px 7px;
    height: 200px;
}

img { position: relative;
left: 85%; top: 20%;}

.block-1 {
    border-top: 4px solid  hsl(180, 62%, 55%);
}

.block-2 {
    border-top: 4px solid  hsl(0, 78%, 62%);
}

.block-3 {
    border-top: 4px solid  hsl(34, 97%, 64%);
}

.block-4 {
    border-top: 4px solid  hsl(212, 86%, 64%);
}

body > h1 {
    text-align: center;
    font-weight: 400;
}
body > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.9em;
}
body > p {
    text-align: center;
    font-weight: 200;
    margin: 0 15px 70px;
}

p {
    font-weight: 200;
    font-size: 1.2em;
    padding: 10px 0;
}

h3 { font-weight: 600; font-size: 1.35em;}

.attribution { font-size: 11px; text-align: center; margin-top: 50px; margin-bottom: -100%; }
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none; }

@media (min-width: 600px) {
    .container{ padding: 80px 100px;}
}

@media (min-width: 1000px) {
    .blocks { 
        flex-direction: row; 
        align-items: center;
    }

    .block { width: 40%;}

    .block-2, .block-3 { width: 85%;}
}
