@font-face {
    font-family: 'Content';
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Content';
}

body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}

main {
    background-color: hsl(0, 0%, 12%);
    width: 80vw;
    height: 70vh;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

img {
    width: 100px;
    border-radius: 50px;
    margin: 20px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.6em;
}
h2 {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 0.9em;
    padding: 10px;
}

h3 {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 0.9em;
    padding: 20px;
}

button {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    width: 280px;
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s ease-in-out;
}

button:hover {
    color: black;
    background-color: hsl(75, 94%, 57%);
    transition: .5s ease-in-out;
}

@media (max-width: 380px) {
    main {
        height: 90vh;
    }
}
@media (min-width: 400px) {
    main {
        width: 80vw;
    }
}

@media (min-width: 600px) {
    main {
        width: 40vw;
        height: 42vh;
    }
}

@media (min-width: 800px) {
    main {
        width: 40vw;
        height: 50vh;
    }
}

@media (min-width: 1000px) {
    main {
        width: 25vw;
        height: 70vh;
    }
}