* {
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container { padding: 40px 20px; }

.tablet, .desktop {
    display: none;
}

h1 { 
    font-size: 2.2em; 
    font-weight: 600; 
    color: #252525;
}

p {
    padding: 10px 0;
    font-size: 1.15em;
    font-weight: 400;
    color: rgb(73, 71, 71);
    line-height: 1.5;
}

button {
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.1em;
    font-weight: 550;
    cursor: pointer;
}


header { background-color: #F0EEEB; }

header > .wellcome {
    background-color: black;
    color: white;

    font-size: 1.1em;
    text-align: center;
    font-weight: 450;

    padding: 15px;
}

.wellcome span { text-decoration: underline; }

header > nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav > h1 { font-size: 1.5em; }

section > img {
    padding: 0 20px;
    width: 92%;
    height: 400px;
}

li {
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 2;

    font-weight: 700;
    color: rgb(98, 95, 95);
}

li > img { width: 25px; }

form {
    display: flex;
    gap: 15px;
    margin: 25px 0 5px;
}
form > input {
    width: 40%;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgb(217, 211, 211);
    font-size: 1.1em;
}

main .logos  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 35px 0;
}

main .logo {
    width: 100px;
    height: 25px;
}

main .phone-text {
    background-color: #F0EEEB;
    padding: 45px 40px 0;
    border-radius: 15px;
}

main .phone-text > img {
    margin: -30px 0 -5px;
}

main a {
    color: #515050;
    font-weight: 600;
    font-size: 1.1em;
}

main .text-editor { padding: 50px 0; }

.spense { grid-area: spense; }
.company { grid-area: company; }
.opportunities { grid-area: opportunities; }
.sitemap { grid-area: sitemap; }
.resources { grid-area: resources; }

footer {
    background-color: black;
    margin-top: -100px;
    display: grid;
    grid-template-areas: 
    "spense spense"
    "company opportunities"
    "sitemap resources";
    gap: 15px;
}

footer #princ {
    color: white;
    font-size: 1.3em;
}
footer div > h2 {
    color: white;
    font-size: 1.5em;
}
footer p {
    color: #959292;
}

footer ul > li {
    color: #959292;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;
}

@media (min-width: 600px) {
    .mobile, .desktop { display: none; }
    .tablet { display: block; }
    .container { padding: 40px; }

    header nav div > a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    header nav > .tablet {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 1.1em;
    }

    main .logos > .tablet {
        display: flex;
        justify-content: space-around;
    }

    section > img {
        padding: 20px 30px;
    }

    footer {
        grid-template-areas: 
        "spense spense sitemap resources"
        "company opportunities sitemap resources";
        gap: 30px 50px;
    }
}

@media (min-width: 902px) {
    .container { padding: 40px 150px;}
    header section > .mobile, header section > .tablet {
        display: none;
    }
    .desktop {
        display: block;
    }

    section > img {
        padding-right: 150px;
        width: 35%;
        height: 35em;
    }

    .intro {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    main .logos  {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }

    main .logo {
        width: 120px;
        height: 30px;
    }

    .phone-text > .tablet { display: none;}
    .phone-text {
        display: flex;
        align-items: center;
    }

    main .phone-text > img {
        margin-bottom: -20px;
        margin-right: -150px;
        width: 50%;
        height: 600px;
    }

    main .text-editor {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .text-editor > img {
        width: 50%;
    }

    footer {
        grid-template-areas: 
        "spense sitemap resources company opportunities"
        "spense sitemap resources company opportunities";
        gap: 30px 60px;
    }
}